html, body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fffbf0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
}

.app {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.middle-container {
    width: 65vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #ffffff; 
    box-shadow: 0 4px 12px rgba(226, 11, 11, 0.15); 
    padding: 20px; 
    box-sizing: border-box;
    border-radius: 12px;
}

.inner-content {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border: 2px solid #ffbe76;
    border-radius: 12000px;
    background-color: #fff7e1;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.map-result-container {
    width: 100%;
    background-color: #fff7e1;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
    margin-bottom: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 2.2rem;
    color: #ff6b6b;
    margin: 20px 0;
    text-shadow: 1px 1px 2px #f6d365;
}

a {
    color: #1a73e8;
    text-decoration: none;
    font-weight: 600;
    transition: color 0.3s ease-in-out;
}

a:hover {
    text-decoration: underline;
    color: #ffa726;
}

div.primary-location {
    margin: 20px 0;
    font-size: 1.5rem;
    color: #f39c12;
    font-weight: 700;
    text-align: center;
}
